*{
    font-family: Garamond;
}

header{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    height: 50px;
}

#lewy{
    background-color: tan;
    height: 500px;
    width: 40%;
}

.prawy{
    background-color: tan;
    height: 250px;
    width: 60%;
    float: right;
}


footer{
    clear: both;
    background-color: saddlebrown;
    color: white;
}

form{
    margin: 5px;
    background-color: saddlebrown;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
}

p::before {
    content: "STATUS ";
  }