body{
    padding:0;
    margin:0;
    background-color: black;
    color: white;
}

header{
    background-color: #47a245;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

footer{
    background-color: orange;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    clear: both;
}

.flex-container {
    display: flex;
}

div{
    display: block;
    unicode-bidi: isolate;
}

#div1{
    background-color: #adb2df;
    width: 20%;
    min-height: 300px;
    padding:10px;
}

#div2{
    background-color: #f0e3ae;
    width: 50%;
    min-height: 300px;
    text-align: center;
    color: black;
    padding:10px;
}

#div3{
    background-color: rgb(0,0,255);
    width: 20%;
    min-height: 300px;
    padding:10px;
}

#div4{
    background-color: #951a1a;
    width: 10%;
    min-height: 300px;
    padding:10px;
}