*{
    font-family: Cambria;
}

#l1, #l2{
background-color: #E1BEE7;
width: 25%;
float: left;
}

#p1, #p2{
    width: 75%;
    font-size: 170%;
    text-align: center;
    float: right;
}

#l1{
    height: 400px;
}

#l2{
    height: 330px;
}

#p1{
    background-color: #9C64A6;
    color: white;
    height: 150px;
    letter-spacing: 5px;
}

#p2{
    color: Indigo;
    height: 580px;
}

footer{
    background-color: #9C64A6;
    color: white;
    padding: 10px;
    clear: both;
}

h2{
    text-align: center;
}

ul{
    list-style-type: circle;
}

img{
    padding: 4px;
    margin: 15px;
}

img:hover{
padding: 3px;
border: 1px;
border-style: dashed;
border-color: Indigo;
}

#sglowna{
    padding: 25px;
}